{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class='content-section'>
    <form method='POST'>
      {% csrf_token %}
      <fieldset class='form-group'>
        <legend class='border-bottom mb-4'>Join Today</legend>
        {{ form|crispy }}
      </fieldset>
      <div class='form-group'>
        <button class='btn btn-outline-info' type='submit'>SignUp</button>
      </div>
    </form>
    <div class='border-top pt-3'>
      <small class='text-muted'>Already have an Account? <a href="{% url 'login' %}" class='ml-2'>Sign In</a></small>
    </div>
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-md-6">
          {% load static %}
          <img src={% static "home/IMAGES/register.png" %} alt="Login Image" id='login-img' height='500' width='500'>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}