{% extends 'home/base.html' %}
{% block content %}

<!-- Search Bar -->
<form method = "GET">
    <input type = "text" 
        placeholder = "Type here"
        name = "dashboard_search"
        >
        </input>
    <button type = "submit">
    Search Now!
    </button>
</form>

<!--
    <input class = "Search_textbox"
        type = "search"
        placeholder = "Type your Search here"
        name = "dashboard_search"
        value = {{search}}
    >
    </input>
    
-->
<!-- File Display-->
    <table class='table'>
        <thead>
            <th>Name</th>
            <th>Download</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for file in Files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>
                        <a href="{{ file.File.url }}"class="btn btn-success btn-sm" target="_blank">
                        Download </a>
                    </td>
                    <td>
                        <form action="{% url "delete-file" file.pk %}" method="post">
                            {% csrf_token %}
                            <button class='btn btn-danger btn-sm' type='submit'>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'upload-file' %}" class='btn btn-primary'>Upload File</a>
{% endblock content %}
    